dims = 800px

html
	height 100%
	padding 0
	margin 0
body
	background #fdfdfd
	width 100%
	height 100%
	margin 0
	padding 0
	#main
		width dims
		height dims
		position fixed
		top 50%
		left 50%
		margin-top dims * -0.5
		margin-left dims * -0.5
	#renderer
		width dims
		height dims
		position fixed
		top 50%
		left 50%
		margin-top dims * -0.5
		margin-left dims * -0.5